*
{
    font-family:"Lucida Console", Monaco, monospace
}

.tabs {
  position: relative;   
  min-height: 600px; /* This part sucks */
  min-width:700px;
  clear: both;
  margin: 25px 0;
  margin-top: 0px;
  left:0px;
}

.tab {
  float: left;
}

.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  top: -20px;
}


.tab [name=tab-group-1] {
  display: none;   
}


.content {
  position: absolute;
  top: 0px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 10px;
  border: 1px solid #ccc; 
}

.paletteForegroundItem {
  width: 11px;
  height: 12px;
  float: left;
}

.paletteBackgroundItem {
 width: 11px;
  height: 12px;
  float: left;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 1;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}